<div class="container">
    <div class="row">
        <div class="col-sm">
            <p><b>О сайте</b> - "<i>КакДома.by</i>" проект для поиска и бронирования отелей/хостелов/агроусадьб и пр. по все Беларуси. Вы можете найти и забранировать самый выгодный и удобный вариант жилья для себя.</p>
        </div>

        <div class="col-auto">
            <ul>
                <li><a class="dark" href="">Мобильная версия</a></li>
                <li><a class="dark" href="">Личный кабинет</a></li>
                <li><a class="dark" href="">Условия бронирования</a></li>
                <li><a class="dark" href="">Служба поддержки</a></li>
            </ul>
        </div>

        <div class="col-auto">
            <ul>
                <li><a class="dark" href="">Карта сайта</a></li>
                <li><a class="dark" href="">Номера</a></li>
                <li><a class="dark" href="">Новости</a></li>
                <li><a class="dark" href="">Интерактивная Карта</a></li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <p>2022 © <a class="dark" href="">Brovka Dionisiu</a> сайт не является коммерческим продуктом </p>
        </div>
    </div>
</div>